@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsLight";
  src: url("/fonts/Poppins-Light.ttf");
}

@layer base {
  body {
    @apply font-poppinsLight text-[#212121] px-[2vw] lg:px-[8vw];
  }
}
